.primary-bg {
    background-color: #49a3e7;
}

.secondary-bg {
    background-color: #0b00e286;
}

.white-bg {
    background-color: #fff;
}

.primary-text {
    color: #49a3e7;
}
  
.secondary-text {
    color: #0b00e286;
}

.white-text {
    color: #fff;
}