.primary-bg {
    background-color: #49a3e7;
}

.secondary-bg {
    background-color: #01109d;
}

.white-bg {
    background-color: #fff;
}

.primary-text {
    color: #49a3e7;
}
  
.secondary-text {
    color: #01109d;
}

.white-text {
    color: #fff;
}