.note{
    width: 250px;
    height: 250px;
    background-color: #75b8ec;
    border: 1px solid #8a8a8a;
}

.note-header{
    height: 40px;
    background-color: #49a3e7;
    justify-content: space-around;
    padding: 5px;
}

.actions{
    width: 100px;
    height: 40px;

}

.note-body{
    height: 210px;
    background-color: #75b8ec;
}

.note-body input{
    font-family: "Nanum Gothic", sans-serif;
    font-size: 14px;
}

.note-body:focus {
    outline: none; 
    border: none; 
    
}